<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ _('Microblog | Password Reset') }}</title>
  </head>
  <body>
    <p>{{ _('Dear %(username)s,', username=user.username) }}</p>
    <p>
      {{  _('To reset your password, please ') }}
      <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        {{ _('click here') }} </a
      >.
    </p>
    <p>
      {{ _("Alternatively, you can paste the following link in your browser's address bar:") }}
    </p>
    <p>{{ url_for("reset_password", token=token, _external=True) }}</p>
    <p>
      {{ _('If you have not requested a password reset simply ignore this message.') }}
    </p>
    <p>{{ _('Sincerely,') }}</p>
    <p>{{ _('The Microblog Team') }}</p>
  </body>
</html>
