{% macro form_field(field, autofocus) %}
  {%- if field.type == "BooleanField" %}
    <div class="flex items-center">
      <div class="flex">
        {{ field(class="shrink-0 mt-0.5 border-gray-200 rounded-sm text-blue-600 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800") }}
      </div>
      <div class="ms-3">
        {{ field.label(class="text-sm dark:text-white") }}
      </div>
    </div>
  {%- elif field.type == "SubmitField" %}
    {{ field(class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none") }}
  {%- else %}
    <div>
      {{ field.label(class="block text-sm mb-2 dark:text-white") }}
      <div class="relative">
        {%- set icons = {
          "username": "icon-[tabler--user]",
          "email": "icon-[tabler--mail]",
          "password": "icon-[tabler--key]",
        } %}
        {%- if field.widget.input_type in icons or field.id in icons %}
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
          {%- set icon = icons[field.id] if field.id in icons else icons[field.widget.input_type] %}
          <span class="{{ icon }} shrink-0 size-4 text-gray-500 dark:text-neutral-500"></span>
        </div>
        {%- endif %}

        {%- set has_icon = " ps-11 " if field.widget.input_type in icons or field.id in icons else "" %}
        {%- set is_valid =  (
          " border-red-500 focus:border-red-500 focus:ring-red-500 dark:border-red-800 "
          if field.errors else
          " border-gray-200 focus:border-blue-500 focus:ring-blue-500 dark:border-neutral-700 "
          ) %}
        {%- set field_class =  (
          "peer py-2.5 sm:py-3 px-4"
          + has_icon
          + "block w-full rounded-lg sm:text-sm"
          + is_valid
          + "disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
          ) %}
        {{ field(class=field_class, **({'autofocus': True} if autofocus else {})) }}
            
        {%- if field.widget.input_type == "password" %}
        <button
          type="button"
          data-hs-toggle-password='{
            "target": "#{{ field.id }}"
          }'
          class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-500 dark:text-neutral-500 rounded-e-md focus:outline-hidden focus:text-blue-600 dark:focus:text-blue-500">
          <span class="hs-password-active:hidden icon-[tabler--eye-off] shrink-0 size-3.5"></span>
          <span class="hidden hs-password-active:block icon-[tabler--eye] shrink-0 size-3.5"></span>
        </button>
        {%- endif %}
    
        {%- if field.errors and not field.widget.input_type == "password" %}
        <div class="absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
          <span class="icon-[tabler--info-circle] shrink-0 size-4 text-red-500 dark:text-red-600"></span>
        </div>
        {%- endif %}
      </div>

      {%- for error in field.errors %}
      <div class="text-xs text-red-600 dark:text-red-700 mt-2">{{ error }}</div>
      {%- endfor %}
    </div>
  {%- endif %}
{% endmacro %}

{% macro quick_form(form, action="", method="post", id="", novalidate=False) %}
<form
  {%- if action != None %} action="{{ action }}"{% endif -%}
  {%- if method %} method="{{ method }}"{% endif %}
  {%- if id %} id="{{ id }}"{% endif -%}
  {%- if novalidate %} novalidate{% endif -%}>
  <div class="grid gap-y-4">
    {{ form.hidden_tag() }}
    {%- for field, errors in form.errors.items() %}
      {%- if form[field].widget.input_type == "hidden" %}
        {%- for error in errors %}
        <div class="text-xs text-red-600 dark:text-red-700 mt-2">
          {{ error }}
        </div>
        {%- endfor %}
      {%- endif %}
    {%- endfor %}
  
    {% set ns = namespace(first_field=true) %}
    {%- for field in form %}
      {% if field.widget.input_type != "hidden" -%}
        {{ form_field(field, ns.first_field) }}
        {% set ns.first_field = false %}
      {%- endif %}
    {%- endfor %}  
  </div>
</form>
{% endmacro %}