<form id="new-post" action="" method="post" class="grid gap-y-2">
  {{ form.hidden_tag() }}
  <!-- Textarea -->
  {{ form.post.label(class="sr-only") }}
  {% set class = "resize-none py-2 px-3
  sm:py-3 sm:px-4 block w-full border-gray-200 rounded-lg sm:text-sm
  focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50
  disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700
  dark:text-neutral-400 dark:placeholder-neutral-500
  dark:focus:ring-neutral-600" %}
  {{ form.post(
    id="new-post-txt",
    class=class,
    rows=1,
    placeholder=form.post.label.text,
    autofocus=True,
    data_hs_textarea_auto_height=""
  ) }}
  <!-- End Textarea -->
  <!-- Errors -->
  {% for error in form.post.errors %}
  <p class="text-xs text-red-600 dark:text-red-700 mt-2">{{ error }}</p>
  {% endfor %}
  <!-- End errors -->
  <!-- Toolbar -->
  <div class="flex flex-wrap justify-between items-start gap-2">
    <p class="flex gap-x-1 text-sm text-gray-500 dark:text-neutral-500">
      <span id="new-post-chars">{{ form.post.flags.maxlength }}</span>characters
    </p>
    <div class="flex items-center">
      <button
        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-hidden focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-400 dark:bg-blue-800/30 dark:hover:bg-blue-800/20 dark:focus:bg-blue-800/20"
        form="new-post"
        type="submit"
        name="{{ form.submit.name }}"
      >
        Post
        <span class="icon-[tabler--send] shrink-0 size-4"></span>
      </button>
    </div>
  </div>
  <!-- End Toolbar -->
</form>
