<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog!</title>
    {% endif %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <script src="{{ url_for('static', filename='js/themeSwitch.min.js') }}"></script>
  </head>
  <body class="dark:bg-neutral-900">
    <header
      class="sticky top-0 inset-x-0 flex flex-wrap z-100 sm:justify-start sm:flex-nowrap w-full text-sm py-3 bg-white border-b border-gray-200 dark:bg-neutral-900 dark:border-neutral-700"
    >
      <nav
        class="max-w-[85rem] w-full mx-auto px-4 flex flex-wrap basis-full items-center justify-between"
      >
        <a
          class="sm:order-1 flex-none text-xl font-semibold dark:text-white focus:outline-hidden focus:opacity-80"
          href="{{ url_for('index') }}"
          >Microblog</a
        >
        <div class="sm:order-3 flex items-center gap-x-2">
          <!-- Theme Switcher -->
          <button type="button" class="hs-dark-mode-active:hidden block hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" data-hs-theme-click-value="dark">
            <span class="group inline-flex shrink-0 justify-center items-center size-9">
              <span class="icon-[tabler--moon-filled] shrink-0 size-4"></span>
            </span>
          </button>
          <button type="button" class="hs-dark-mode-active:block hidden hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" data-hs-theme-click-value="light">
            <span class="group inline-flex shrink-0 justify-center items-center size-9">
              <span class="icon-[tabler--sun-high-filled] shrink-0 size-4"></span>
            </span>
          </button>
          <!-- End Theme Switcher -->
          <!-- Menu Toggle -->
          <button
            type="button"
            class="sm:hidden hs-collapse-toggle relative size-9 flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
            id="hs-navbar-alignment-collapse"
            aria-expanded="false"
            aria-controls="hs-navbar-alignment"
            aria-label="Toggle navigation"
            data-hs-collapse="#hs-navbar-alignment"
          >
            <span class="icon-[tabler--menu-2] hs-collapse-open:hidden shrink-0 size-4"></span>
            <span class="icon-[tabler--x] hs-collapse-open:block hidden shrink-0 size-4"></span>
            <span class="sr-only">Toggle</span>
          </button>
          <!-- End Menu Toggle -->
          {% if current_user.is_anonymous %}
          <a
            href="{{ url_for('login') }}"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
          >
            Sign in
            <span class="icon-[tabler--login] shrink-0 size-4"></span>
          </a>
          {% else %}
          <!-- Profile Dropdown -->
          <div
            class="hs-dropdown [--placement:bottom-right] relative inline-flex"
          >
            <button
              id="hs-dropdown-account"
              type="button"
              class="size-9.5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none dark:text-white"
              aria-haspopup="menu"
              aria-expanded="false"
              aria-label="Dropdown"
            >
              <img
                class="shrink-0 size-9.5 rounded-full"
                src="{{ current_user.avatar(32) }}"
                alt="Avatar"
              />
            </button>

            <div
              class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-white shadow-md rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700 dark:divide-neutral-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="hs-dropdown-account"
            >
              <div
                class="py-3 px-5 bg-gray-100 rounded-t-lg dark:bg-neutral-900"
              >
                <p class="text-sm text-gray-500 dark:text-neutral-500">
                  Signed in as
                </p>
                <p
                  class="text-sm font-medium text-gray-800 dark:text-neutral-200"
                >
                  {{ current_user.username }}
                </p>
              </div>
              <div class="p-1.5 space-y-0.5">
                <a
                  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                  href="{{ url_for('user', username=current_user.username) }}"
                >
                  <span
                    class="icon-[tabler--user-square-rounded] shrink-0 size-4"
                  ></span>
                  Profile
                </a>
                <a
                  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                  href="{{ url_for('logout') }}"
                >
                  <span class="icon-[tabler--logout] shrink-0 size-4"></span>
                  Log Out
                </a>
              </div>
            </div>
          </div>
          {% endif %}
          <!-- End Profile Dropdown -->
        </div>
        <div
          id="hs-navbar-alignment"
          class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:grow-0 sm:basis-auto sm:block sm:order-2"
          aria-labelledby="hs-navbar-alignment-collapse"
        >
          <div
            class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:mt-0 sm:ps-5"
          >
            <a
              {% if title == "Home" %}
                class="font-medium text-blue-500 focus:outline-hidden"
                aria-current="page"
              {% else %}
                class="font-medium text-gray-600 hover:text-gray-400 focus:outline-hidden focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
              {% endif %}
              href="{{ url_for('index') }}"
              >Home</a
            >
            <a
              {% if title == "Explore" %}
                class="font-medium text-blue-500 focus:outline-hidden"
                aria-current="page"
              {% else %}
                class="font-medium text-gray-600 hover:text-gray-400 focus:outline-hidden focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
              {% endif %}
              href="{{ url_for('explore') }}"
              >Explore</a
            >
          </div>
        </div>
      </nav>
    </header>
    <main class="w-full max-w-md mx-auto p-6">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {% include "_alert_info.html" %}
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('serve_preline_js') }}"></script>
    {%- if current_user.is_authenticated and title == "Home" %}
    <script src="{{ url_for('static', filename='js/calcTextareaCharsLeft.min.js') }}"></script>
    {%- endif %}
  </body>
</html>
