<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>{{ _('Welcome to Microblog!') }}</title>
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <script src="{{ url_for('static', filename='js/themeSwitch.min.js') }}"></script>
  </head>
  <body class="dark:bg-neutral-900">
    <header
      class="sticky top-0 inset-x-0 flex flex-wrap z-50 sm:justify-start sm:flex-nowrap w-full text-sm py-3 bg-white border-b border-gray-200 dark:bg-neutral-900 dark:border-neutral-700"
    >
      <nav
        class="relative max-w-7xl w-full flex flex-wrap lg:grid lg:grid-cols-12 basis-full items-center px-4 md:px-6 lg:px-8 mx-auto"
      >
        <div class="lg:col-span-3 flex items-center">
          <a
            class="flex-none rounded-xl text-lg sm:text-xl font-semibold dark:text-white inline-block focus:outline-hidden focus:opacity-80"
            href="{{ url_for('main.index') }}"
            >Microblog</a
          >
        </div>
        <div class="flex items-center gap-x-1 lg:gap-x-2 ms-auto py-1 lg:ps-6 lg:order-3 lg:col-span-3">
          {% if g.search_form %}
          <!-- Search Box -->
          <div class="flex justify-center">
            <div id="searchContainer" class="relative">
              <button id="searchButton" type="button"
                class="font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
                <span class="group inline-flex shrink-0 justify-center items-center size-9">
                  <span class="icon-[tabler--search] shrink-0 size-4"></span>
                </span>
              </button>
              <form id="searchForm" class="relative hidden opacity-0 transition-all duration-300 ease-in-out" method="get" action="{{ url_for('main.search') }}">
                <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-2 sm:ps-3.5">
                  <span class="icon-[tabler--search] shrink-0 size-4 text-gray-400 dark:text-white/60"></span>
                </div>
                {{ g.search_form.q(id="searchInput", class="py-1.5 sm:py-2 ps-8 sm:ps-10 pe-3 sm:pe-4 w-26 sm:w-full border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600",
                placeholder=g.search_form.q.label.text) }}
              </form>
            </div>
          </div>
          <!-- End Search Box -->
          {% endif %}
          <!-- Theme Switcher -->
          <button type="button" class="hs-dark-mode-active:hidden block hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" data-hs-theme-click-value="dark">
            <span class="group inline-flex shrink-0 justify-center items-center size-9">
              <span class="icon-[tabler--moon-filled] shrink-0 size-4"></span>
            </span>
          </button>
          <button type="button" class="hs-dark-mode-active:block hidden hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" data-hs-theme-click-value="light">
            <span class="group inline-flex shrink-0 justify-center items-center size-9">
              <span class="icon-[tabler--sun-high-filled] shrink-0 size-4"></span>
            </span>
          </button>
          <!-- End Theme Switcher -->
          <!-- Menu Toggle -->
          <button
            type="button"
            class="lg:hidden hs-collapse-toggle relative size-9 flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
            id="hs-navbar-alignment-collapse"
            aria-expanded="false"
            aria-controls="hs-navbar-alignment"
            aria-label="{{ _('Toggle navigation') }}"
            data-hs-collapse="#hs-navbar-alignment"
          >
            <span class="icon-[tabler--menu-2] hs-collapse-open:hidden shrink-0 size-4"></span>
            <span class="icon-[tabler--x] hs-collapse-open:block hidden shrink-0 size-4"></span>
            <span class="sr-only">{{ _('Toggle Menu') }}</span>
          </button>
          <!-- End Menu Toggle -->
          {% if current_user.is_anonymous %}
          <a
            href="{{ url_for('auth.login') }}"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
          >
            {{ _('Sign in') }}
            <span class="icon-[tabler--login] shrink-0 size-4"></span>
          </a>
          {% else %}
          <!-- Profile Dropdown -->
          <div
            class="hs-dropdown [--placement:bottom-right] relative inline-flex"
          >
            <button
              id="hs-dropdown-account"
              type="button"
              class="size-9.5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none dark:text-white"
              aria-haspopup="menu"
              aria-expanded="false"
              aria-label="{{ _('Toggle user menu') }}"
            >
              <img
                class="shrink-0 size-9.5 rounded-full"
                src="{{ current_user.avatar(38) }}"
                alt="Avatar"
              />
            </button>

            <div
              class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-white shadow-md rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700 dark:divide-neutral-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="hs-dropdown-account"
            >
              <div
                class="py-3 px-5 bg-gray-100 rounded-t-lg dark:bg-neutral-900"
              >
                <p class="text-sm text-gray-500 dark:text-neutral-500">
                  {{ _('Signed in as') }}
                </p>
                <p
                  class="text-sm font-medium text-gray-800 dark:text-neutral-200"
                >
                  {{ current_user.username }}
                </p>
              </div>
              <div class="p-1.5 space-y-0.5">
                <a
                  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                  href="{{ url_for('main.user', username=current_user.username) }}"
                >
                  <span
                    class="icon-[tabler--user-square-rounded] shrink-0 size-4"
                  ></span>
                  {{ _('Profile') }}
                </a>
                <a
                  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                  href="{{ url_for('auth.logout') }}"
                >
                  <span class="icon-[tabler--logout] shrink-0 size-4"></span>
                  {{ _('Log Out') }}
                </a>
              </div>
            </div>
          </div>
          {% endif %}
          <!-- End Profile Dropdown -->
        </div>
        <div
          id="hs-navbar-alignment"
          class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow lg:block lg:w-auto lg:basis-auto lg:order-2 lg:col-span-6"
          aria-labelledby="hs-navbar-alignment-collapse"
        >
          <div
            class="flex flex-col gap-y-4 gap-x-0 mt-5 lg:flex-row lg:justify-center lg:items-center lg:gap-y-0 lg:gap-x-7 lg:mt-0"
          >
            <a
              {% if request.endpoint == "main.index" %}
                class="font-medium text-blue-500 focus:outline-hidden"
                aria-current="page"
              {% else %}
                class="font-medium text-gray-600 hover:text-gray-400 focus:outline-hidden focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
              {% endif %}
              href="{{ url_for('main.index') }}"
              >{{ _('Home') }}</a
            >
            <a
              {% if request.endpoint == "main.explore" %}
                class="font-medium text-blue-500 focus:outline-hidden"
                aria-current="page"
              {% else %}
                class="font-medium text-gray-600 hover:text-gray-400 focus:outline-hidden focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
              {% endif %}
              href="{{ url_for('main.explore') }}"
              >{{ _('Explore') }}</a
            >
          </div>
        </div>
      </nav>
    </header>
    <main class="w-full max-w-md mx-auto p-6">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {% include "_alert_info.html" %}
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('main.serve_preline_js') }}"></script>
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script src="{{ url_for('static', filename='js/translatePost.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toggleSearch.min.js') }}"></script>
    {%- if current_user.is_authenticated and request.endpoint == "main.index" %}
    <script src="{{ url_for('static', filename='js/calcTextareaCharsLeft.min.js') }}"></script>
    {%- endif %}
  </body>
</html>
