{% extends "base.html" %}

{%- block content %}
  <div class="grid gap-y-2 sm:gap-y-4">
    <h1 class="text-4xl dark:text-white">
      {%- if request.endpoint == "main.index" %}
      {{ _('Hi, %(username)s!', username=current_user.username) }}
      {%- elif request.endpoint == "main.explore" %}
      {{ _('Explore') }}
      {%- endif %}
    </h1>
    {%- if form %}
      {%- include "_form_new_post.html" %}
    {%- endif %}
    {%- if posts %}
      {%- include "_show_posts.html" %}
    {%- endif %}
  </div>
{%- endblock %}
