{% extends "base.html" %}

{% block content %}
  <div class="grid gap-y-2">
    <h1 class="text-4xl dark:text-white mb-3">
      {%- if title == "Home" %}
      Hi, {{ current_user.username }}!
      {%- elif title == "Explore" %}
      Explore
      {%- endif %}
    </h1>
    {% if form %}
      {% include "_form_new_post.html" %}
    {% endif %}
    {% for post in posts %}
      {% include "_post.html" %}
    {% endfor %}
    {% if prev_url %}
      <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
      <a href="{{ next_url }}">Older posts</a>
    {% endif %}
  </div>
{% endblock %}
