{% extends "simple_form.html" %}
{% set go_back_link = url_for("register") %}

{% block form_title %}Sign in{% endblock %}
{% block form_subtitle %}Don't have an account yet?{% endblock %}
{% block form_subtitle_link %}Click to register!{% endblock %}
{% block form_footer %}
<p class="mt-4 text-sm text-gray-600 dark:text-neutral-400">
  Forgot your password?
  <a class="text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium dark:text-blue-500"
  href="{{ url_for('reset_password_request') }}">Click to reset it</a>
</p>
{% endblock %}
