{% extends "base.html" %}

{% block content %}
<div class="grid gap-y-2 sm:gap-y-4">
  <div
    class="mt-4 p-4 sm:p-5 grid gap-y-2 border border-gray-200 border-b-1 border-b-blue-600 shadow-xs rounded-xl dark:border-neutral-700 dark:border-b-blue-500 dark:shadow-neutral-700/70"
  >
    <!-- Profile -->
    <div class="flex justify-between flex-wrap gap-y-2">
      <!-- Avatar and Title -->
      <div class="flex flex-wrap justify-start items-center gap-x-3">
        <div class="shrink-0">
          <img
            src="{{ user.avatar(64) }}"
            alt="{{ _('User avatar') }}"
            class="shrink-0 size-16 rounded-full"
          />
        </div>
        <h1 class="text-4xl font-medium text-gray-800 dark:text-neutral-200">
          {{ user.username }}
        </h1>
      </div>
      <!-- End Avatar and Title -->
      <div class="flex flex-wrap justify-start items-center gap-x-3">
        <!-- Message Link -->
        {% if user != current_user %}
        <a class="flex shrink-0 justify-center items-center gap-2 size-8 sm:size-10 text-sm font-medium rounded-full border border-gray-800 text-gray-800 hover:border-gray-500 hover:text-gray-500 focus:outline-hidden focus:border-gray-500 focus:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:border-white dark:text-white dark:hover:text-neutral-300 dark:hover:border-neutral-300"
          title="{{ _('Send private message') }}" href="{{ url_for('main.send_message', recipient=user.username) }}">
          <span class="icon-[tabler--mail] shrink-0 size-4 sm:size-5"></span>
          <span class="sr-only">{{ _("Send private message") }}</span>
        </a>
        {% endif %}
        <!-- End Message Link -->
        <!-- Export Posts -->
        {% if user == current_user and not current_user.get_task_in_progress('export_posts') %}
        <a class="flex shrink-0 justify-center items-center gap-2 size-8 sm:size-10 text-sm font-medium rounded-full border border-gray-800 text-gray-800 hover:border-gray-500 hover:text-gray-500 focus:outline-hidden focus:border-gray-500 focus:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:border-white dark:text-white dark:hover:text-neutral-300 dark:hover:border-neutral-300"
          title="{{ _('Export my posts') }}" href="{{ url_for('main.export_posts') }}">
          <span class="icon-[tabler--database-export] shrink-0 size-4 sm:size-5"></span>
          <span class="sr-only">{{ _("Export my posts") }}</span>
        </a>
        {% endif %}
        <!-- End Export Posts -->
        <!-- Action Button -->
        {%- set button_style = "flex shrink-0 justify-center items-center cursor-pointer gap-2 size-8 sm:size-10 text-sm font-medium
        rounded-full border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700
        disabled:opacity-50 disabled:pointer-events-none" %}
        {%- if user == current_user %}
        <a type="button" class="{{ button_style }}" aria-label="{{ _('Edit profile') }}"
          href="{{ url_for('main.edit_profile') }}" title="{{ _('Edit profile') }}">
          <span class="sr-only">{{ _('Edit profile') }}</span>
          <span class="icon-[tabler--edit] shrink-0 size-4 sm:size-5" aria-hidden="true"></span>
        </a>
      
        {%- elif not current_user.is_following(user) %}
        <form id="follow" class="hidden" action="{{ url_for('main.follow', username=user.username) }}" method="post">
          {{ form.hidden_tag() }}
        </form>
        <button class="{{ button_style }}" aria-label="{{ _('Follow user') }}" form="follow" type="submit"
          name="{{ form.submit.name }}" title="{{ _('Follow') }}">
          <span class="sr-only">{{ _('Follow') }}</span>
          <span aria-hidden="true" class="icon-[tabler--user-plus] shrink-0 size-4 sm:size-5"></span>
        </button>
      
        {%- else %}
        <form id="unfollow" class="hidden" action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
          {{ form.hidden_tag() }}
        </form>
        <button class="{{ button_style }}" aria-label="{{ _('Unfollow user') }}" form="unfollow" type="submit"
          name="{{ form.submit.name }}" title="{{ _('Unfollow') }}">
          <span class="sr-only">{{ _('Unfollow') }}</span>
          <span aria-hidden="true" class="icon-[tabler--user-x] shrink-0 size-4 sm:size-5"></span>
        </button>
        {%- endif %}
        <!-- End Action Button -->
      </div>
    </div>
    {%- if user.last_seen %}
    <p class="text-sm text-gray-500 dark:text-neutral-500">
      {{ _('Last active:') }} {{ moment(user.last_seen).fromNow() }}
    </p>
    {%- endif %}
    <!-- End Profile -->
    <!-- About Me -->
    {% if user.about_me %}
    <div class="mt-4">
      <p class="text-sm text-gray-800 dark:text-neutral-200">
        {{ user.about_me }}
      </p>
    </div>
    {%- endif %}
    <!-- End About Me -->
    <!-- Followers and Following -->
    <div class="mt-2 flex flex-wrap items-start gap-2">
      <p class="text-sm text-gray-800 dark:text-neutral-200">
        {{ user.followers_count() }}
        <span class="text-gray-600 dark:text-neutral-400">{{ _('followers') }}</span>
      </p>
      <p class="text-sm text-gray-800 dark:text-neutral-200">
        {{ user.following_count() }}
        <span class="text-gray-600 dark:text-neutral-400">{{ _('following') }}</span>
      </p>
    </div>
    <!-- End Followers and Following -->
  </div>
  <!-- Posts -->
  {%- if posts %}
    {%- include "_show_posts.html" %}
  {%- else %}
    <p class="p-4 sm:p-5 mt-4 text-sm text-gray-700 dark:text-neutral-400 border border-gray-200 shadow-xs rounded-xl dark:border-neutral-700 dark:shadow-neutral-700/70">
      {%- if user == current_user %}
        {{ _("You haven't posted yet.") }}
      {%- else %}
        {{ _('This user has not posted yet.') }}
      {%- endif %}
    </p>
  {%- endif %}
  <!-- End Posts -->
</div>
{% endblock %}
